.wrapper {
  width:100vw;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  padding-top:40px;
  gap:40px;
}

.title {
  display: flex;
  flex-direction: column;
  gap:2px;
  align-items:center;
  justify-content:center;
}